// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@import "mixins/hide-text.styl"
@import "mixins/opacity.styl"
@import "mixins/image.styl"
@import "mixins/labels.styl"
@import "mixins/reset-filter.styl"
@import "mixins/resize.styl"
@import "mixins/responsive-visibility.styl"
@import "mixins/size.styl"
@import "mixins/tab-focus.styl"
@import "mixins/reset-text.styl"
@import "mixins/text-emphasis.styl"
@import "mixins/text-overflow.styl"
@import "mixins/vendor-prefixes.styl"

// Components
@import "mixins/alerts.styl"
@import "mixins/buttons.styl"
@import "mixins/panels.styl"
@import "mixins/pagination.styl"
@import "mixins/list-group.styl"
@import "mixins/nav-divider.styl"
@import "mixins/forms.styl"
@import "mixins/progress-bar.styl"
@import "mixins/table-row.styl"

// Skins
@import "mixins/background-variant.styl"
@import "mixins/border-radius.styl"
@import "mixins/gradients.styl"

// Layout
@import "mixins/clearfix.styl"
@import "mixins/center-block.styl"
@import "mixins/nav-vertical-align.styl"
@import "mixins/grid-framework.styl"
@import "mixins/grid.styl"



@import '../vars/index.styl';

clearfix()
  &:after
    clear: both

  &:after, &:before
    content: ""
    display: table

  *zoom: 1

breakpoint(point, orientation = "min")
  if point == "mobile"
    if orientation == "max"
      @media ({orientation}-width: (breakpoint-mobile - 1) )
        {block}
    else
      @media ({orientation}-width: breakpoint-mobile)
        {block}

  else if point == "mobile-landscape"
    if orientation == "max"
      @media ({orientation}-width: (breakpoint-mobile-landscape - 1) )
        {block}
    else
      @media ({orientation}-width: breakpoint-mobile-landscape)
        {block}


  else if point == "tablet"
    if orientation == "max"
      @media ({orientation}-width: (breakpoint-tablet - 1) )
        {block}
    else
      @media ({orientation}-width: breakpoint-tablet)
        {block}

  else if point == "desktop"
    if orientation == "max"
      @media ({orientation}-width: (breakpoint-desktop - 1) )
        {block}
    else
      @media ({orientation}-width: breakpoint-desktop)
        {block}

  else if point == "desktop-hd"
    if orientation == "max"
      @media ({orientation}-width: (breakpoint-desktop-hd - 1) )
        {block}
    else
      @media ({orientation}-width: breakpoint-desktop-hd)
        {block}

  else if point == "retina-only"
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      {block}

grid(cols = 1, gutter = 0, childs = ".item", orientation= "right")
  clearfix()
  width: auto
  margin-right: -(gutter)

  {childs}
    float: left
    width: (100% / cols)
    padding-{orientation}: gutter
    background-clip: content-box
